{% extends "base.html" %}
{% set active_page = "frontpage" %}
{% block page_css %}
<style>
#starter-buttons-containter{
  margin: 0 auto;
  width: 100%;
  text-align: ceter;
}
.starter-button{
  margin-left: auto;
  margin-right: auto;
}
</style>
{% endblock %}{# end of page_css block #}
{% block lead_content %}

<h1>Welcome to Angular Velocity</h1>

<p class="lead">
Welcome to Angular Velocity, we have the goal of furthering research grant
money by optimising the use of scientific equipment. To do this we facilitate
rental loans of research equipment.
</p>
{% endblock %}

{% block main_content %}

<div style="text-align: center;">
  <button type="button" class="btn btn-info">
    <h3>hire</h3>
    I need equipment for <strong>hire</strong>
  </button>
  <button type="button" class="btn btn-warning">
    <h3>rent</h3>
    I have equipment available for <strong>rent</strong>
  </button>
</div>

{% endblock %}
